footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--side-padding);

    .attribution {
        font-size: 8px;

        a {
            color: var(--orange);
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;

        a {
            font-family: var(--sans);
            font-size: var(--text-s);
            transition: color var(--transition);
        }

        a:hover {
            color: var(--orange);
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        flex-direction: column-reverse;
        gap: 20px;

        .attribution {
            text-align: center;
        }
    }
}