.login-page {
    padding: 80px var(--side-padding);
    max-width: 550px;
    margin: auto;

    h2 {
        margin: 0 0 20px 0;
    }

    .form-row:has(input) {
        margin: 0 0 16px 0;
    }

    .form-row.remember-me {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
        font-family: var(--sans);
        margin: 24px 0 16px 0;
    }

    input[type="checkbox"] {
        width: auto;
        margin: 0 0 0 10px;
    }

    .lost_password {
        font-family: var(--sans);
        color: var(--grey);
    }

}

@media screen and (max-width: 767px) {
    .login-page {
        max-width: 100%;
        
        form {
            
        }
    }
}