.account-profile {

    p {
        font-size: 12px;
    }

    label {
        display: none;
    }

    input {
        padding: 13px 11px;
        border: 1px solid var(--grey);
        border-radius: 5px;
        width: calc(100% - 22px);
        font-size: var(--text-s);
        font-family: var(--sans);
        font-weight: 100;
    }

    input:focus-visible {
        outline: 1px solid var(--orange);
    }

    .reset-password-group {
        margin: 40px 0 0 0;
    }

    .form-row {
        margin:  0 0 14px 0;
    }

    button[type="submit"] {
        padding: 14px 30px;
        border-radius: 5px;
        background: var(--black);
        color: var(--white);
        margin-top: 12px;
        display: inline-block;
        font-family: var(--sans);
        font-size: 18px;
        transition: all var(--transition);
        cursor: pointer;
    }

    button[type="submit"]:hover {
        opacity: 0.8;
    }
}