.support-page {
    padding: 20px var(--side-padding);

    .page-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 0 60px 0;
    }

    .columns {
        //display: grid;
        //grid-template-columns: 1fr 1fr;
    }

    // .details-body {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    // }

    summary {
        cursor: pointer;
        transition: color var(--transition);
        position: relative;
    }

    summary:hover {
        color: var(--orange);
    }

    details.sub {
        //border-top: 1px solid var(--grey);
        border-bottom: 1px solid var(--grey);
        border-collapse: collapse;
    }

    .indicator:after {
        content: '+';
    }

    details.open summary {
        color: var(--orange);
    }

    details.open .indicator:after {
        content: '-';
    }

    .support {
        margin: 0 0 20px 0;
    }

    .faq,
    .support {
        border: 1px solid var(--grey);
        border-radius: 12px;
        padding: 20px;
    }

    h3 {
        margin: 0 0 40px 0;
        color: var(--grey);
    }

    .content {
        padding: 20px 0 60px 0;
    }

    h4, h5 {
        margin: 0 0 12px 0;
    }

    h5 {
        font-size: var(--text-m);
    }

    hr {
        display: block;
        margin: 30px 0;
    }

    a {
        text-decoration: underline;
    }
}