#header-mobile {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 4px 0px;
    border-bottom: 1px solid var(--grey);
    z-index: 10;

    div:nth-child(1) {
        padding-left: 10px;
    }

    // Logo
    div:nth-child(2) {
        display: flex;
        justify-content: center;

        svg {
            width: 40px;

            path {
                fill: var(--white);
                transition: all var(--transition);
            }
        }

    }

    div:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .cart-count {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;
        background: var(--orange);
        color: var(--black);
        border-radius: 14px 0 0 14px;
        padding: 14px 30px 14px 20px;
        font-size: 16px;
        line-height: 1;

        svg {
            width: 16px;
            height: 100%;
        }

        path {
            stroke-width: 2px;
        }
    }
}

@media screen and (max-width: 767px) {
    #header-mobile {
        display: grid;
    }
}  