.cart-page {
    width: 100%;
    max-width: 900px;
    padding: 0 var(--side-padding);
    margin:  0 auto;

    .woocommerce-message,
    .woocommerce-info {
        margin: 0;
    }
    .woocommerce-error li {
        margin: 0 0 16px 0;
    }
}

.cart-title {
    margin: 40px 0 80px 0;
}

ul.cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 40px 0;

    li.cart-item {
        display: grid;
        grid-template-columns: 10fr 1fr 1fr;
        align-items: flex-start;
        grid-gap: 60px;
        
        .product-name {
            font-size: 42px;
            transition: all var(--transition);
        }

        .product-name:hover {
            color: var(--orange);
        }

        .product-quantity {
            font-size: 36px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .quantity {
                word-spacing: -20px;
                white-space: nowrap;
            }

            a {
                font-size: 12px;
                text-decoration: underline;
                text-transform: lowercase;
            }
        }

        .product-subtotal {
            text-align: right;
            font-size: 36px;
        }

        .remove {
            transition: all var(--transition);
        }
        .remove:hover {
            color: var(--orange);
        }
    }
}

@media screen and (max-width: 767px) {
    .cart-page {
        padding: 0;
    }

    .cart-title {
        margin: 40px 0 80px 0;
        padding: 0 var(--side-padding);
    }

    ul.cart {
        padding: 0 var(--side-padding);
        
        li.cart-item {
            
            .product-name {
                font-size: 28px;
            }
    
            .product-quantity {
                font-size: 28px;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .quantity {
                    word-spacing: -20px;
                    white-space: nowrap;
                }
    
                a {
                    font-size: 12px;
                    text-decoration: underline;
                    text-transform: lowercase;
                }
            }
    
            .product-subtotal {
                text-align: right;
                font-size: 28px;
            }
        }
    }
}